// GENERAL
h1 {
  font-size: 2.8rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
}

h2 {
  font-size: 1.325rem;
  color: var(--gray-900);
  font-weight: 600;
  line-height: 100%;
}

pre {
  display: block;

  padding: 0.5rem 1rem;
  border: 1px solid oklch(91.75% 0.004 301.42);
  border-radius: 0.25rem;

  background: oklch(98.81% 0 0);
  transition: background 0.3s ease, border-color 0.3s ease;
  container: codeblock / inline-size;
}

code {
  padding: 0.1rem 0.5rem;
  border: 1px solid oklch(91.75% 0.004 301.42);
  border-radius: 0.25rem;

  background: oklch(98.81% 0 0);
}

// MAIN PAGE CONTENT
.angular-logo {
  align-self: end;
  max-width: 9.2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  margin-top: 3rem;

  h1 {
    margin-top: 0;
  }

  p {
    margin-top: 1.5rem;
  }
}

.title-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.main-wrapper {
  position: relative;
  display: grid;
  gap: 3rem;
  grid-template-areas: "main toc";
  grid-template-columns: minmax(0, 2.5fr) minmax(0, 15rem);
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100vh;
  overflow: auto;

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 4rem;
    box-sizing: inherit;
    position: relative;

    ol.demo-info {
      padding-left: 18px;
    }
  }
}

// ASIDE MENU
.toc-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  mask-image: linear-gradient(
    180deg,
    #0000 0,
    #000 3rem calc(100% - 3rem),
    #0000
  );
  position: sticky;
  top: 0;
}

.toc {
  display: block;
  padding-top: 2rem;
  grid-area: toc;
  height: fit-content;
  padding-bottom: 0;
}

.document-toc-container {
  display: flex;

  .document-toc {
    margin-bottom: 2rem;
    padding: 0;

    .document-toc-heading.document-toc-heading {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5;
      letter-spacing: 0;
      // font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont,
      //   "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
      //   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 400;
      padding: 8px 0px 8px 11.2px;
      font-size: 0.6875rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: hsl(215, 15%, 40%);
    }

    .document-toc-list.document-toc-list {
      font-size: var(--type-smaller-font-size);
      list-style: none;
      padding-left: 0;

      li {
        margin: 0;

        .document-toc-link.document-toc-link:not(.button) {
          display: block;
          padding: 6px 0px 6px 12px;

          text-decoration: none;
          font-size: 0.8125rem;
          font-weight: 500;
          color: hsl(215, 15%, 12%);
        }
      }
    }
  }
}
