// LIGHT TOOLTIP
.ngxTooltipDemo-light-example {
  .ngxTooltip-inner-dialog-with-bridge {
    padding: 3px !important;

    .ngxTooltip-tooltip {
      font-size: 11px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.87);
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
        rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    }
  }
}
