<app-basic-tooltip [scrollableContainer]="scrollableContainerElement()">
  <button class="relative-element">Custom Width [200px]</button>
  <div class="message" style="max-width: 200px">
    Aliquam eget finibus ante, non facilisis lectus. Sed vitae dignissim est,
    vel aliquam tellus. Praesent non nunc mollis, fermentum neque at, semper
    arcu. Nullam eget est sed sem iaculis gravida eget vitae justo.
  </div>
</app-basic-tooltip>

<app-basic-tooltip [scrollableContainer]="scrollableContainerElement()">
  <button class="relative-element">Custom Width [500px]</button>
  <div class="message" style="max-width: 500px">
    Aliquam eget finibus ante, non facilisis lectus. Sed vitae dignissim est,
    vel aliquam tellus. Praesent non nunc mollis, fermentum neque at, semper
    arcu. Nullam eget est sed sem iaculis gravida eget vitae justo.
  </div>
</app-basic-tooltip>

<app-no-wrapping-width-tooltip />
