<div class="configs-container">
  <div class="offset-input-container">
    <label for="offset-input">Offset: </label>
    <input
      id="offset-input"
      type="number"
      min="0"
      step="1"
      [(ngModel)]="offset"
    />
  </div>

  <div class="with-arrow-input-container">
    <label for="with-arrow-input">Tooltip with arrow: </label>
    <input id="with-arrow-input" type="checkbox" [(ngModel)]="withArrow" />
  </div>
</div>



<app-basic-tooltip
  style="width: 100%"
  [scrollableContainer]="scrollableContainer()"
  [dialogOffset]="offset()"
  [arrow]="withArrow()"
>
  <button style="width: 100%" class="relative-element">OFFSET</button>
  <span class="message"> Add </span>
</app-basic-tooltip>
