.zoom-example {
  &.ngxTooltip-show .ngxTooltip-animated-inner-dialog-with-bridge {
    transform-origin: center top;
    animation: show-tooltip-with-zoom 200ms cubic-bezier(0.4, 0, 0.2, 1)
      forwards;
  }

  &.ngxTooltip-hide .ngxTooltip-animated-inner-dialog-with-bridge {
    transform-origin: center top;
    animation: hide-tooltip-with-zoom 200ms cubic-bezier(0.4, 0, 0.2, 1)
      forwards;
  }
}

@keyframes show-tooltip-with-zoom {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hide-tooltip-with-zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.1);
  }
}
